{% extends 'index.html' %} {% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}  {% block content %}
<!-- Barra de navegación -->
<div>
  <div class="h1 fw-light text-primary">Nuevo cliente</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link btn btn-success"
            aria-current="page"
            href="{{ url_for('main.add_client') }}"
            >&#129485;Nuevo cliente</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark" href="#">&#128196;Reporte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Cabecera de tabla de creacion de clientes-->
<div class="container mt-5">
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th style="with:10%;" scope="col">Identificacion</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Email</th>
      </tr>
      <!--Filtro para campos-->
      <tr>
        <th>
          <input
            type="text"
            class="filter-input"
            id="filterNombre"
            placeholder="Filtrar Nombre"
          />
        </th>
        <th>
          <input
            type="text"
            class="filter-input"
            id="filterApellido"
            placeholder="Filtrar Apellido"
          />
        </th>
        <th style="with:10%;">
          <input
            type="text"
            class="filter-input"
            id="filterIdentificacion"
            placeholder="Filtrar Identificacion"
          />
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
      <tr>
        <td>{{ cliente.nombre_cliente }}</td>
        <td>{{ cliente.apellido_cliente }}</td>
        <td>{{ cliente.cedula }}</td>
        <td>{{ cliente.ciudad_ref.nombre }}</td>
        <td>{{ cliente.email }}</td>
        <td>
          <a
            class="btn btn-primary"
            href="{{ url_for('main.edit_client', id=cliente.id_cliente) }}">Editar</a>
        </td>
        <td>
          <form action="{{ url_for('main.delete_client', id=cliente.id_cliente) }}"
            method="post">
            <button class="btn btn-danger" type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}