{% extends 'index.html' %} {% block content %}
<!-- Barra de navegación -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<div>
  <div class="h1 fw-light text-primary">Lista de puntos de emision</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link btn btn-success text-light fw-bold me-3"
            aria-current="page"
            href="{{ url_for('main.punto_de_emision_new') }}"
            >&#129485;Nuevo</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark fw-bold text-light" href="#">&#128196;Reporte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Cabecera de tabla de creacion de productos-->
<div class="container mt-5">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">Nombre cooperativa</th>
        <th scope="col">Nombre</th>
        <th scope="col">direccion</th>
        <th scope="col">codigo</th>
        <th scope="col">tipo</th>
        <th scope="col">equipos</th>
       
      </tr>
      <!--Filtro para campos-->
      <tr>
 
        <th>
          <input
            type="text"
            class="filter-input tamano-4"
            id="filterNombre"
            placeholder="Filtrar Nombre"
          />
        </th>
       
       
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for punto in puntos %}
      {% set id_punto_str = "%03d" % punto.codigo_identificacion %}
  
      <tr>
        <td>{{punto.puntoecoperativa.razonsocial}}</td>
        <td>{{punto.nombre}}</td>
        <td>{{ punto.direccion }} </td>
        <td>{{id_punto_str}}</td>
        <td>{{punto.tipo}}</td>
        <td>{{punto.equipos}}</td>
 
        <td>
          <a class="btn btn-primary" href="{{ url_for('main.punto_de_emision_edit', id=punto.id) }}">Editar</a>

        </td>
        <td>
          <form
            action="{{ url_for('main.punto_de_emision_delete', id=punto.id) }}"
            method="post">
            <button class="btn btn-danger" type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
