.tamano-1 {
width: 40px;


}

.tamano-2 {
    width: 70px;
    
    
    }

    
.tamano-3 {
    width: 120px;
    
    
    }

    .tamano-4 {
        width: 140px;
        
        
        }


.tamano-5 {

    width: 200px;
}