<!-- app/templates/edit_product.html -->
{% extends 'index.html' %}

{% block content %}
    <h1>Modificar Producto</h1>
    <form action="{{ url_for('main.edit_product', id=products.id) }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ products.nombre }}" required>
        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" value="{{ products.descripcion }}" required>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" value="{{ products.precio  }}" required>
        <label for="categoria_id">Categoria:</label>
         <select name="categoria_id" required>
            <option value="1" {% if products.categoria_id == 1 %}selected{% endif %}>Provincial</option>
            <option value="2" {% if products.categoria_id == 2 %}selected{% endif %}>Interprovincial</option>
        </select><br><br>
        <button class="btn btn-success" type="submit">Modificar Producto</button>
    </form>
    <a  class="btn btn-dark" href="{{ url_for('main.list_products') }}">Back to Product List</a>
{% endblock %}
