<!-- app/templates/edit_product.html -->
{% extends 'index.html' %}

{% block content %}
    <h1>Modificar Empresa</h1>
    <form action="{{ url_for('main.edit_cooperativa', id=cooperativa.id_cooperativa) }}" method="post">
        <label for="razonsocial">Razón Social:</label>
        <input type="text" id="razonsocial" name="razonsocial" value="{{ cooperativa.razonsocial }}" required>
        
        <label for="ruc">RUC:</label>
        <input type="text" id="ruc" name="ruc" value="{{ cooperativa.Ruc }}" required>
        
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" value="{{ cooperativa.telefono }}" required>
        
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" value="{{ cooperativa.direccion }}" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ cooperativa.email }}" required>
 
        <button class="btn btn-success" type="submit">Modificar</button>
    </form>
    <a  class="btn btn-dark" href="{{ url_for('main.list_cooperativa') }}">Regresar a Lista Empresas</a>
{% endblock %}
