{% extends 'index.html' %} {% block content %}
<!-- Barra de navegación -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<div>
  <div class="h1 fw-light text-primary">Nueva Empresa</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="c" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link btn btn-success text-light fw-bold me-3"
            aria-current="page"
            href="{{ url_for('main.add_cooperativa') }}"
            >&#129485;Nueva Cooperativa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark fw-bold text-light" href="#">&#128196;Reporte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Cabecera de tabla de creacion de productos-->
<div class="container mt-5">
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">Nombre Empresa</th>
        <th scope="col">RUC</th>
        <th scope="col">Correo</th>


      </tr>
      <!--Filtro para campos-->
      <tr>
        <th>
          <input
            type="text"
            class="filter-input tamano-1"
            id="filterid"
            placeholder="Filtrar id"
          />
        </th>
        <th>
          <input
            type="text"
            class="filter-input tamano-4"
            id="filterNombre"
            placeholder="Filtrar Nombre"
          />
        </th>
        <th>
          <input
            type="text"
            class="filter-input tamano-3"
            id="filterApellido"
            placeholder="Filtrar RUC"
          />
        </th>
        <th>
          <input
            type="text"
            class="filter-input tamano-5"
            id="filterIdentificacion"
            placeholder="Añade una Correo"
          />
        </th>
       
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for cooperativa in cooperativas %}
      <tr>
        <td>{{cooperativa.razonsocial}}</td>
        <td>{{cooperativa.Ruc}}</td>
        <td>{{cooperativa.email}}</td>
        <td>{{cooperativa.telefono}}</td>
        <td>{{cooperativa.direccion}}</td>
        <td>
          <a class="btn btn-primary" href="{{ url_for('main.edit_cooperativa', id=cooperativa.id_cooperativa) }}">Editar</a>

        </td>
        <td>
          <form
            action="{{ url_for('main.delete_cooperativa',  id=cooperativa.id_cooperativa) }}"
            method="post">
            <button class="btn btn-danger" type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
