{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Registrar una nueva ruta</h1>
    <form class="needs-validation" novalidate action="{{ url_for('main.ruta_add') }}" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Unidad</label>
                <select class="form-control" id="validationCustom01" name="id_unidad" required>
                    {% for unidad in unidades %}
                        <option value="{{ unidad.id_unidad }}">{{ unidad.nro_disco }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, elija una unidad.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Cooperativa</label>
                <select class="form-control" id="validationCustom02" name="id_cooperativa" required>
                    {% for cooperativa in cooperativas %}
                        <option value="{{ cooperativa.id_cooperativa }}">{{ cooperativa.razonsocial }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, elija una cooperativa.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Lugar de Origen</label>
                <input type="text" class="form-control" id="validationCustom03" name="lugar_origen" placeholder="Lugar de Origen" required>
                <div class="invalid-feedback">
                    Por favor, proporcione un lugar de origen válido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">Lugar de Destino</label>
                <input type="text" class="form-control" id="validationCustom04" name="lugar_destino" placeholder="Lugar de Destino" required>
                <div class="invalid-feedback">
                    Por favor, proporcione un lugar de destino válido.
                </div>
            </div>
        </div>
        
        <button class="btn btn-success text-light fw-bold me-3" type="submit">Guardar</button>
        <a href="{{ url_for('main.ruta_list') }}" class="btn btn-dark text-light fw-bold">Volver a la Lista de Rutas</a>
    </form>
  
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>
  
</div>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>

{% endblock %}
