{% extends 'index.html' %} {% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}  {% block content %}
<!-- Barra de navegación -->
<div>
  <div class="h1 fw-light text-primary">Nueva Ruta</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link btn btn-success text-light fw-bold me-3"
            aria-current="page"
            href="{{ url_for('main.ruta_add') }}"
            >&#129485;Nuevo</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark text-light fw-bold" href="#">&#128196;Reporte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Cabecera de tabla de creacion de clientes-->
<div class="container mt-5">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">unidad</th>
        <th scope="col">cooperativa</th>
        <th scope="col">lugar origen</th>
        <th scope="col">lugar destino</th>
        <th scope="col">fecha creacion</th>
      </tr>
      <!--Filtro para campos-->
      <tr>
        <th>
          <input
            type="text"
            class="filter-input"
            id="filterNombre"
            placeholder="Filtrar Nombre"
          />
        </th>
        <th>
          <input
            type="text"
            class="filter-input"
            id="filterApellido"
            placeholder="Filtrar Apellido"
          />
        </th>
        <th style="width:10%;">
          <input
            type="text"
            class="filter-input"
            id="filterIdentificacion"
            placeholder="Filtrar Identificacion"
          />
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for ruta in rutas %}
      <tr>
        <td>{{ ruta.ruta_unidad.nro_disco }}</td>
        <td>{{ ruta.rutacooperativa.razonsocial }}</td>
        <td>{{ ruta.lugar_origen }}</td>
        <td>{{ ruta.lugar_destino }}</td>
        <td>{{ ruta.fecha_creacion }}</td>
        <td>
          <a
            class="btn btn-primary"
            href="{{ url_for('main.ruta_edit', id=ruta.id_ruta) }}">Editar</a>
        </td>
        <td>
          <form action="{{ url_for('main.ruta_delete', id=ruta.id_ruta) }}"
            method="post">
            <button class="btn btn-danger" type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}