<!-- app/templates/add_product.html -->
{% extends 'index.html' %}

{% block content %}
    <h1>Crear Usuario</h1>
    <form action="{{ url_for('main.add_user') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <button type="submit">Guardar Usuario</button>
    </form>
    <a href="{{ url_for('main.list_user') }}">Back to User List</a>

{% endblock %}
