{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Registrar un conductor</h1>
    <form class="needs-validation" novalidate action="{{ url_for('main.nuevo_conductor') }}" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Nombre</label>
                <input type="text" class="form-control" id="validationCustom01" name="nombre" placeholder="Nombre" required>
                <div class="valid-feedback">
                    ¡Se ve bien!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Apellido</label>
                <input type="text" class="form-control" id="validationCustom02" name="apellido" placeholder="Apellido" required>
                <div class="valid-feedback">
                    ¡Se ve bien!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustomUsername">Cooperativa</label>
                <select class="form-control" id="validationCustomUsername" name="id_cooperativa" required>
                    {% for cooperativa in cooperativas %}
                        <option value="{{ cooperativa.id_cooperativa }}">{{ cooperativa.razonsocial }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, elija una cooperativa.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Licencia</label>
                <input type="text" class="form-control" id="validationCustom03" name="licencia" placeholder="Licencia" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una licencia válida.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">Cédula</label>
                <input type="text" class="form-control" id="validationCustom04" name="cedula" placeholder="Cédula" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una cédula válida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="validationCustom05" name="fecha_nacimiento" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una fecha de nacimiento válida.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom06">Dirección</label>
                <input type="text" class="form-control" id="validationCustom06" name="direccion" placeholder="Dirección" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una dirección válida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom07">Teléfono</label>
                <input type="text" class="form-control" id="validationCustom07" name="telefono" placeholder="Teléfono" required>
                <div class="invalid-feedback">
                    Por favor, proporcione un teléfono válido.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom08">Email</label>
                <input type="email" class="form-control" id="validationCustom08" name="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    Por favor, proporcione un email válido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom09">Fecha de Contratación</label>
                <input type="date" class="form-control" id="validationCustom09" name="fecha_contratacion" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una fecha de contratación válida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom10">Unidad</label>
                <input type="text" class="form-control" id="validationCustom10" name="disco" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una unidad en caso de que no haya sido asignada.
                </div>
            </div>
        </div>
        
        <button class="btn btn-success text-light fw-bold me-3" type="submit">Guardar</button>
        <a href="{{ url_for('main.listar_conductores') }}" class="btn btn-dark text-light fw-bold">Volver a la Lista de conductores</a>
    </form>
  
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>
  
</div>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>

{% endblock %}
