<!-- app/templates/add_product.html -->
{% extends 'index.html' %}

{% block content %}


    <div class="container mt-5">
        <h1>Crear Categoría de Producto</h1>
        <form action="{{ url_for('main.add_cate_product') }}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        <a href="{{ url_for('main.list_cate_products') }}" class="btn btn-secondary mt-3">Volver a la Lista de Categorías</a>
    </div>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>



{% endblock %}
