<!-- app/templates/edit_product.html -->
{% extends 'index.html' %}

{% block content %}
    <h1>Modificar Categoria Producto</h1>

    <form id="editForm" action="{{ url_for('main.edit_cate_product', id=products.id) }}" method="post"> 
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="{{ products.nombre }}" class="form-control" required  />
             
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example2">Descripción:</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="6" required>{{ products.descripcion }}</textarea>
              
            </div>
          </div>
        </div>
     
        <!-- Submit button -->
        <button class="btn btn-success"  type="submit">Modificar Categoria Producto</button>
        <a class="btn btn-dark"  href="{{ url_for('main.list_cate_products') }}">Back to Categoria Producto List</a>
      </form>
 {% endblock %} 


 