<!-- app/templates/edit_product.html -->
{% extends 'index.html' %}

{% block content %}
    <h1>Modificar Categoria Producto</h1>
    <form id="editForm" action="{{ url_for('main.edit_cate_product', id=products.id) }}" method="post">
    
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{ products.nombre }}" class="form-control" required>
            </div>
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="6" required>{{ products.descripcion }}</textarea>
                <button class="btn btn-success"  type="submit">Modificar Categoria Producto</button>
                <a class="btn btn-dark"  href="{{ url_for('main.list_cate_products') }}">Back to Categoria Producto List</a>
            
            </div>
    </form>
     

 {% endblock %} 
