<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">

    <title>{% block title %}{% endblock %} :: Proyecto</title>
    <div class="bg-primary p-3">
        <p>
            <a href="{{ url_for('main.index') }}" class="text-white">
            <h2>SGB</h2>
            </a>
        </p>
    </div>

    </div>
</head>
<body>
<nav>
    <!--{#    <ul class="list-group">#}
    {#        {% if g.user %}#}
    {#            <li class="list-group-item"><span>{{ g.user['username'] }}</span>#}
    {#            <li class="list-group-item"><a href="{{ url_for('auth.logout') }}">Log Out</a>#}
    {#                {% else %}#}
    {#            <li class="list-group-item"><a href="{{ url_for('auth.register') }}">Register</a>#}
    {#            <li class="list-group-item"><a href="{{ url_for('auth.login') }}">Log In</a>#}
    {#        {% endif %}#}
    {#    </ul>#}-->
</nav>
<section class="content">
    <header>
        <!--Nuevo Menu principal-->
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dar">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 border">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li>
                                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">&#128100; Clientes</span> </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_clients') }}" class="nav-link px-0"> <span class="d-none d-sm-inline">Lista de clientes</span></a>
                                    </li>
                                </ul>
                            </li>
                         
                            <li>
                                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">&#128188; Cooperativas</span> </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_unidades') }}" class="nav-link px-0"> <span class="d-none d-sm-inline">Unidades</span></a>
                                    </li>
                                    <li class="w-100">
                                       <a href="{{ url_for('main.list_cooperativa') }}" class="nav-link px-0"> <span class="d-none d-sm-inline">Cooperativas</span></a> 
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">&#128188; Configuraciones</span> </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_user') }}" class="nav-link px-0"> <span class="d-none d-sm-inline">Usuarios</span></a>
                                    </li>
                                    <li class="w-100">
                                       <a href="{{ url_for('main.list_cooperativa') }}" class="nav-link px-0"> <span class="d-none d-sm-inline">Cooperativas</span></a> 
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col py-3">
                    {% if mostrar_contenido %}
                    <div class="container my-5">
                        <h1 class="display-1 text-center text-primary fw-bold">SGB</h1>
                        <p class="lead text-center text-secondary">
                            Sistema de gestion de Boletos de transporte ...
                        </p>
                    </div>
                    {% endif %}
                    {% block content %}  {% endblock %}
                    
                </div>
            </div>
        </div>


    </header>

    {% block header %}   {% endblock %}
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    
</section>


<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
