<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">
    <title> SGB APP {% block title %}{% endblock %}</title>
    <style>
        @media (max-width: 575px) {
            .sidebar-nav {
                width: 250px;
                transform: translateX(-250px);
                transition: transform 0.3s ease;
            }


            .sidebar-nav.show {
                transform: translateX(0);
            }

            .content {
                padding-left: 0;
            }

            .barra-nav {
                display: flex;
                justify-content: center;
            }
 
        }

        @media (min-width: 576px) {
            .sidebar-nav {
                width: 250px;
                transform: none;
            }
            

        }

        .boton {
                margin-top: auto;
                margin-bottom: auto;
                height: 30px;
            }
         
    </style>
    <div style="border-bottom:5px solid #004383;" class="bg-light p-0 h-25 d-flex flex-row align-content-center">
         <!-- Botón para desplegar el menú en pantallas pequeñas -->
        <button style="border-color: #6d6d6d;"  class="btn btn-light d-block d-sm-none border-3   boton" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
            <i class="bi bi-list d-flex flex-column align-content-center"><img src="{{ url_for('static', filename='img/list.svg') }}" alt="" ></i>
        </button>
        <div class="contenido w-100 barra-nav">
        <h2>
            <img  style="padding:0; margin:0;" width="70px" src="{{ url_for('static', filename='img/logo.png') }}" alt="UserImage"/>
        </h2>
    </div>
    </div>
</head>
<body>
<nav>
  
</nav>
<section class="content">
    <header>
        <!-- Menú lateral con offcanvas para pantallas pequeñas -->
        <div id="sidebar" class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" aria-labelledby="sidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarLabel">Menú</h5>
                <button type="button" class="btn-close bg-light text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="{{ url_for('main.index') }}" class="nav-link px-0 align-middle">
                            <i class="bi bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128200; Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i  class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128202; Reportes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128223; Comprobantes</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Facturas del servicio</span></a>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Boletos para pasajero</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128295; Mantenimiento</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{{ url_for('main.list_unidades') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Unidades</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ url_for('main.list_cooperativa') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Cooperativas</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ url_for('main.listar_conductores') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Conductores</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ url_for('main.ruta_list') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Rutas</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128188; Configuraciones</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{{ url_for('main.list_clients') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Clientes</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ url_for('main.list_user') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Usuarios</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ url_for('main.list_ciudades') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Ciudades</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div style="background-color:#3F3F3F;" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark d-none d-sm-block">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li>
                                <a href="{{ url_for('main.index') }}" class="nav-link px-0 align-middle">
                                    <i class="bi bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128200; Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128202; Reportes</span>
                                </a>
                            </li>
                            <li>
                                <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128223; Comprobantes</span>
                                </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Facturas del servicio</span></a>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Boletos para pasajero</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128295; Mantenimiento</span>
                                </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_unidades') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Unidades</span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_cooperativa') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Cooperativas</span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{ url_for('main.listar_conductores') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Conductores</span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{ url_for('main.ruta_list') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Rutas</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-light">&#128188; Configuraciones</span>
                                </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_clients') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Clientes</span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_user') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Usuarios</span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{ url_for('main.list_ciudades') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-light">Ciudades</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col py-3">
                    {% if mostrar_contenido %}
                    <div class="container my-5">
                        <h1 class="display-1 text-center text-primary fw-bold"><img style="padding:0; margin:0;" width="500px" src="{{ url_for('static', filename='img/logo.png') }}" alt="UserImage"/></h1>
                        <p class="lead text-center text-secondary"></p>
                    </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </header>
    {% block header %}{% endblock %}
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</section>
<script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var offcanvasElementList = [].slice.call(document.querySelectorAll('.offcanvas'))
    var offcanvasList = offcanvasElementList.map(function (offcanvasEl) {
        return new bootstrap.Offcanvas(offcanvasEl)
    })
</script>
</body>
</html>
