{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Editar Horario</h1>
    <form class="needs-validation" novalidate action="{{ url_for('edit_horario', id=horario.id_horario) }}" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Ruta</label>
                <select class="form-control" id="validationCustom01" name="id_ruta" required>
                    {% for ruta in rutas %}
                        <option value="{{ ruta.id_ruta }}" {% if ruta.id_ruta == horario.id_ruta %}selected{% endif %}>{{ ruta.nombre }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, elija una ruta.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Autobús</label>
                <select class="form-control" id="validationCustom02" name="id_autobus" required>
                    {% for autobus in autobuses %}
                        <option value="{{ autobus.id_unidad }}" {% if autobus.id_unidad == horario.id_autobus %}selected{% endif %}>{{ autobus.placa }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, elija un autobús.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Hora de Salida</label>
                <input type="time" class="form-control" id="validationCustom03" name="hora_salida" value="{{ horario.hora_salida }}" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una hora de salida válida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">Hora de Llegada</label>
                <input type="time" class="form-control" id="validationCustom04" name="hora_llegada" value="{{ horario.hora_llegada }}" required>
                <div class="invalid-feedback">
                    Por favor, proporcione una hora de llegada válida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">Estado</label>
                <input type="number" class="form-control" id="validationCustom05" name="estado" value="{{ horario.estado }}" required>
                <div class="invalid-feedback">
                    Por favor, proporcione un estado válido.
                </div>
            </div>
        </div>
        <button class="btn btn-success text-light fw-bold me-3" type="submit">Guardar</button>
        <a href="{{ url_for('get_horarios') }}" class="btn btn-dark text-light fw-bold">Volver a la Lista de horarios</a>
    </form>
  
    <script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>
</div>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>

{% endblock %}
